<!-- 메인 -->

<% if (path === '/' ) {%>
    <div id="aside">
        <h2>기본정보</h2>
        <dl>
            <dt>솔루션</dt>
            <dd>- 몰인몰</dd>
            <dt>회사명</dt>
            <dd>- 쉘위샵</dd>
        </dl>
    </div>
    <% } %>

        <% if (path === '/setup/' ){%>
            <!-- 환경설정 -->
            <div id="aside">
                <h2><i class="xi-cog"></i>환경설정</h2>
                <dl>
                    <dt>상점기본정보관리</dt>
                    <dd class="side_small_menu">
                        <a href="/setup/config_manager" class="<%= name === 'config_manager' ? 'active' : '' %>">
                            <i class="xi-minus-min"></i>상점환경설정
                        </a>
                    </dd>

                    <dt>사이트정보관리</dt>
                    <dd class="side_small_menu">
                        <a href="/setup/config_site" class="<%= name === 'config_site' ? 'active' : '' %>">
                            <i class="xi-minus-min"></i>사이트환경설정
                        </a>
                    </dd>

                    <dt>판매자 승인관리</dt>
                    <dd class="side_small_menu">
                        <a href="/setup/config_dealer" class="<%= name === 'config_dealer' ? 'active' : '' %>">
                            <i class="xi-minus-min"></i>판매자 승인환경설정
                        </a>
                    </dd>

                    <dt>전체운영설정</dt>
                    <dd class="side_small_menu">
                        <a href="/setup/config_vocab" class="<%= name === 'config_vocab' ? 'active' : '' %>"><i class="xi-minus-min"></i>어휘설정</a>
                        <a href="/setup/config_delivery" class="<%= name === 'config_delivery' ? 'active' : '' %>"><i class="xi-minus-min"></i>배송설정</a>
                        <a href="/setup/config_discount" class="<%= name === 'config_discount' ? 'active' : '' %>"><i class="xi-minus-min"></i>할인액부담설정</a>
                        <a href="/setup/member_level" class="<%= name === 'member_level' ? 'active' : '' %>"><i class="xi-minus-min"></i>회원등급관리</a>
                        <a href="/setup/config_cmoney" class="<%= name === 'config_cmoney' ? 'active' : '' %>"><i class="xi-minus-min"></i>적립금설정</a>
                        <a href="/setup/notify_tpl" class="<%= name === 'notify_tpl' ? 'active' : '' %>"><i class="xi-minus-min"></i>상품정보고시관리</a>
                    </dd>

                    <dt>관리자설정</dt>
                    <dd class="side_small_menu">
                        <a href="/setup/manager_list" class="<%= name === 'manager_list' ? 'active' : '' %>">
                            <i class="xi-minus-min"></i>부운영자관리
                        </a>
                    </dd>

                    <dt>상점운영정책</dt>
                    <dd class="side_small_menu">
                        <a href="/setup/config_policy" class="<%= name === 'config_policy' ? 'active' : '' %>"><i class="xi-minus-min"></i>상점운영정책</a>
                        <a href="/setup/config_terms_history/101" class="<%= name === 'config_terms_history/101' ? 'active' : '' %>"><i class="xi-minus-min"></i>회원 이용약관</a>
                        <a href="/setup/config_terms_history/102" class="<%= name === 'config_terms_history/102' ? 'active' : '' %>"><i class="xi-minus-min"></i>회원 개인정보취급방침</a>
                        <a href="/setup/config_terms_history/103" class="<%= name === 'config_terms_history/103' ? 'active' : '' %>"><i class="xi-minus-min"></i>회원 제3자정보제공동의</a>
                        <a href="/setup/config_terms_history/202" class="<%= name === 'config_terms_history/202' ? 'active' : '' %>"><i class="xi-minus-min"></i>비회원 개인정보취급방침</a>
                        <a href="/setup/config_terms_history/203" class="<%= name === 'config_terms_history/203' ? 'active' : '' %>"><i class="xi-minus-min"></i>비회원 제3자정보제공동의</a>
                        <a href="/setup/config_terms_history/301" class="<%= name === 'config_terms_history/301' ? 'active' : '' %>"><i class="xi-minus-min"></i>입점사 이용약관</a>
                        <a href="/setup/config_terms_history/302" class="<%= name === 'config_terms_history/302' ? 'active' : '' %>"><i class="xi-minus-min"></i>입점사 개인정보취급방침</a>
                        <a href="/setup/config_terms_history/401" class="<%= name === 'config_terms_history/401' ? 'active' : '' %>"><i class="xi-minus-min"></i>마케팅정보수집및이용동의</a>
                    </dd>

                    <dt>결제정보관리</dt>
                    <dd class="side_small_menu">
                        <a href="/setup/config_pay" class="<%= name === 'config_pay' ? 'active' : '' %>"><i class="xi-minus-min"></i>결제정보설정</a>
                        <a href="/setup/config_pay_online" class="<%= name === 'config_pay_online' ? 'active' : '' %>"><i class="xi-minus-min"></i>온라인입금계좌</a>
                        <a href="/setup/config_kakaopay" class="<%= name === 'config_kakaopay' ? 'active' : '' %>"><i class="xi-minus-min"></i>카카오페이결제정보설정</a>
                        <a href="/setup/config_payco" class="<%= name === 'config_payco' ? 'active' : '' %>"><i class="xi-minus-min"></i>PAYCO결제정보설정</a>
                    </dd>
                </dl>
            </div>
            <% } %>

                <% if (path === '/design/' ){%>
                    <!-- 디자인 관리 -->
                    <div id="aside">
                        <h2>디자인관리</h2>
                        <dl>
                            <dt>전체디자인설정</dt>
                            <dd class="side_small_menu">
                                - <a href="/design/site"><i class="xi-minus-min"></i>전체디자인설정</a><br> - <a href="/design/topper"><i class="xi-minus-min"></i>상단부분관리</a><br> - <a href="/design/footer">하단부분관리</a><br>
                            </dd><dt>메인페이지관리</dt>
                            <dd class="side_small_menu">
                                - <a href="/design/main_style"><i class="xi-minus-min"></i>메인스타일관리</a><br> - <a href="/design/main">메인페이지관리</a><br> - <a href="/design/banner?akind=etc">기타배너관리</a><br>
                            </dd><dt>이벤트관리</dt>
                            <dd class="side_small_menu">
                                - <a href="/design/event_list?method=100"><i class="xi-minus-min"></i>이벤트(일반)관리</a><br> - <a href="/design/event_list?method=200">이벤트(분류)관리</a><br> - <a href="/design/event_list?method=300">이벤트(쿠폰)관리</a><br> - <a href="/design/event_list?method=400">이벤트(할인)관리</a><br>                                - <a href="/design/event_reg">이벤트등록</a><br>
                            </dd><dt>좌측메뉴</dt>
                            <dd class="side_small_menu">
                                - <a href="/design/leftmenu"><i class="xi-minus-min"></i>좌측메뉴관리</a><br>
                            </dd><dt>페이지생성기</dt>
                            <dd class="side_small_menu">
                                - <a href="/design/pagemaker"><i class="xi-minus-min"></i>페이지생성기 관리</a><br>
                            </dd><dt>기타</dt>
                            <dd class="side_small_menu">
                                - <a href="/design/mail_form"><i class="xi-minus-min"></i>메일폼관리</a><br> - <a href="/design/popup"><i class="xi-minus-min"></i>팝업관리</a><br>
                            </dd>
                        </dl>
                    </div>
                    <% } %>


                        <!-- 상품관리 -->
                        <%if (path === '/goods/' ) {%>
                            <div id="aside">
                                <h2>상품관리</h2>
                                <dl>
                                    <dt>카테고리관리</dt>
                                    <dd class="side_small_menu">
                                        <a href="/goods/category" class="<%= name === 'category' ? 'active' : '' %>"><i class="xi-minus-min"></i> 카테고리관리</a>
                                    </dd>

                                    <dt>상품관리</dt>
                                    <dd class="side_small_menu">
                                        <a href="/goods/goods_reg" class="<%= name === 'goods_reg' ? 'active' : '' %>"><i class="xi-minus-min"></i>상품등록</a>
                                        <a href="/goods/goods_list" class="<%= name === 'goods_list' ? 'active' : '' %>"><i class="xi-minus-min"></i>상품목록</a>
                                        <a href="/goods/goods_sort" class="<%= name === 'goods_sort' ? 'active' : '' %>"><i class="xi-minus-min"></i>상품진열설정</a>
                                        <a href="/goods/trash_list" class="<%= name === 'trash_list' ? 'active' : '' %>"><i class="xi-minus-min"></i>상품휴지통</a>
                                        <a href="/goods/brand_list" class="<%= name === 'brand_list' ? 'active' : '' %>"><i class="xi-minus-min"></i>브랜드관리</a>
                                        <a href="/goods/marketing" class="<%= name === 'marketing' ? 'active' : '' %>"><i class="xi-minus-min"></i>상품연동관리</a>
                                    </dd>

                                    <dt>상품정보 엑셀작업</dt>
                                    <dd class="side_small_menu">
                                        <a href="/goods/excel_down" class="<%= name === 'excel_down' ? 'active' : '' %>"><i class="xi-minus-min"></i>상품정보엑셀다운로드</a>
                                        <a href="/goods/excel_regist" class="<%= name === 'excel_regist' ? 'active' : '' %>"><i class="xi-minus-min"></i>상품정보엑셀업로드</a>
                                    </dd>
                                </dl>
                            </div>
                            <% } %>

                                <!-- 주문매출관리 -->
                                <%if (path === '/order/' ) {%>
                                    <div id="aside">
                                        <h2>주문/매출관리</h2>
                                        <dl>
                                            <dt>전체주문</dt>
                                            <dd>
                                                - <a href="/order/order_list">전체주문</a><br>
                                            </dd>
                                            <dt>주문관리</dt>
                                            <dd>
                                                - <a href="/order/order_list?menu=new">입금확인중</a><br> - <a href="/order/order_list?menu=confirm">결제완료</a><br> - <a href="/order/order_list?menu=ready">상품준비중</a><br> - <a href="/order/order_list?menu=delivery">발송완료</a><br>                                                - <a href="/order/order_list?menu=cancel">주문취소</a><br> - <a href="/order/order_list?menu=account">구매확정</a><br> - <a href="/order/consult_list">주문상담</a><br> - <a href="/order/invoice">일괄배송관리</a><br>
                                            </dd>
                                            <dt>취소/교환/반품신청관리</dt>
                                            <dd>
                                                - <a href="/order/order_list?menu=cancel_new">주문취소신청(입금전)</a><br> - <a href="/order/order_list?menu=cancel_confirm">주문취소신청(입금확인)</a><br> - <a href="/order/order_list?menu=change">주문교환신청</a><br> - <a href="/order/order_list?menu=change_finish">주문교환완료</a><br>                                                - <a href="order/order_list?menu=return">주문반품신청</a><br> - <a href="order/order_list?menu=return_finish">주문반품완료</a><br>
                                            </dd>
                                            <dt>거래증빙서류관리</dt>
                                            <dd>
                                                - <a href="/order/tax_list">세금계산서신청관리</a><br> - <a href="/order/cashreceipt_list">현금영수증신청관리</a><br>
                                            </dd>
                                        </dl>
                                    </div>
                                    <% } %>

                                        <!-- 운영관리 -->
                                        <%if (path === '/management/' ) {%>
                                            <div id="aside">
                                                <h2>운영관리</h2>
                                                <dl>
                                                    <dt>고객운영관리</dt>
                                                    <dd>
                                                        - <a href="/management/review_list">상품평관리</a><br> - <a href="/management/qna_list">상품Q&amp;A관리</a><br> - <a href="/management/faq_list">FAQ관리</a><br> - <a href="/management/inquiry_list">1:1문의관리</a><br>
                                                    </dd>
                                                    <dt>게시판관리</dt>
                                                    <dd>
                                                        - <a href="/management/board_manage">게시판통합관리</a><br>
                                                    </dd>
                                                    <dt>쿠폰관리</dt>
                                                    <dd>
                                                        - <a href="/management/coupon_list?kind=100">상품쿠폰관리</a><br>
                                                    </dd>
                                                    <dt>SMS관리</dt>
                                                    <dd>
                                                        - <a href="/sms/config">환경설정</a><br> - <a href="/sms/ment_manage">문구관리</a><br> - <a href="/sms/emoticon_manage">이모티콘 관리</a><br> - <a href="/sms/send_msg">SMS발송</a><br> - <a href="/sms/msbridge?mode=sendlist"
                                                            target="_blank">발송내역</a><br> - <a href="/sms/msbridge?mode=reservelist" target="_blank">예약발송내역</a><br> - <a href="/sms/msbridge?mode=charge" target="_blank">SMS충전하기</a><br>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <% } %>


                                                <!-- 회원관리 -->
                                                <%if (path === '/member/' ) {%>
                                                    <div id="aside">
                                                        <h2>회원관리</h2>
                                                        <dl>
                                                            <dt>회원관련설정</dt>
                                                            <dd>
                                                                - <a href="member/config_member">회원가입설정</a><br>
                                                            </dd>
                                                            <dt>회원관리</dt>
                                                            <dd>
                                                                - <a href="/member/member_list">회원목록</a><br> - <a href="/member/member_delete">탈퇴회원목록</a><br> - <a href="/member/member_buy_list">상품구매회원목록</a><br>
                                                            </dd>
                                                            <dt>메일발송관리</dt>
                                                            <dd>
                                                                - <a href="/member/member_mailing">회원메일발송</a><br>
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                    <% } %>


                                                        <!-- 통계/분석 -->
                                                        <%if (path === '/statistics/' ) {%>
                                                            <div id="aside">
                                                                <h2>통계/분석</h2>
                                                                <dl>
                                                                    <dt>매출관리</dt>
                                                                    <dd>
                                                                        - <a href="/statistics/sale_total">전체 매출통계</a><br> - <a href="/statistics/sale_goods">상품별 매출통계</a><br> - <a href="/statistics/sale_member">회원별 매출통계</a><br>
                                                                    </dd>
                                                                    <dt>회원통계</dt>
                                                                    <dd>
                                                                        - <a href="/statistics/member_gender">남여비율 통계</a><br> - <a href="/statistics/member_age">연령대별 통계</a><br> - <a href="/statistics/member_area">거주지별 통계</a><br>
                                                                    </dd>
                                                                    <dt>접속통계</dt>
                                                                    <dd>
                                                                        - <a href="/statistics/visit_count">방문자 접속통계</a><br> - <a href="/statistics/visit_fromsite">접속방향 통계</a><br>
                                                                    </dd>
                                                                    <dt>상품통계</dt>
                                                                    <dd>
                                                                        - <a href="/statistics/goods_total">상품별 통계</a><br> - <a href="/statistics/goods_wish">상품보관함 통계</a><br> - <a href="/statistics/goods_marks">고객평점 통계</a><br>
                                                                    </dd>
                                                                    <dt>마케팅통계</dt>
                                                                    <dd>
                                                                        - <a href="/statistics/marketing_useCmoney">적립금 사용 통계</a><br>
                                                                    </dd>
                                                                </dl>
                                                            </div>
                                                            <% } %>


                                                                <!-- 입점업체관리 -->
                                                                <%if (path === '/mim/' ) {%>
                                                                    <div id="aside">
                                                                        <h2>입점업체관리</h2>
                                                                        <dl>
                                                                            <dt>판매자관리</dt>
                                                                            <dd>
                                                                                - <a href="/mim/dealer_regist_list">판매자 신청목록</a><br> - <a href="/mim/dealer_list">판매자 목록</a><br> - <a href="/mim/dealer_secession_list">판매자 탈퇴목록</a><br> - <a href="/mim/dealer_qna_list">판매자 문의하기</a><br>                                                                                - <a href="/board/list?board=mim_notice">판매자 공지사항</a><br>
                                                                            </dd>
                                                                            <dt>판매자상품관리</dt>
                                                                            <dd>
                                                                                - <a href="/mim/goods_list">판매자 상품관리</a><br> - <a href="/mim/goods_list?menu=reg">상품신청/수정/삭제</a><br> - <a href="/mim/brand_list">브랜드관리</a><br>
                                                                            </dd>
                                                                            <dt>판매자이벤트관리</dt>
                                                                            <dd>
                                                                                - <a href="/mim/event_list?method=100">이벤트(일반)관리</a><br> - <a href="/mim/event_list?method=400">이벤트(할인)관리</a><br>
                                                                            </dd>
                                                                        </dl>
                                                                    </div>
                                                                    <% } %>


                                                                        <!-- 정산관리 -->
                                                                        <%if (path === '/account/' ) {%>
                                                                            <div id="aside">
                                                                                <h2>정산관리</h2>
                                                                                <dl>
                                                                                    <dt>결제/정산내역</dt>
                                                                                    <dd>
                                                                                        - <a href="/account/account">본사정산</a><br> - <a href="/account/dealer_account">판매자정산</a><br>
                                                                                    </dd>
                                                                                </dl>
                                                                            </div>
                                                                            <% } %>