<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>
                    <%= title %>
                </h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>주문/매출관리</li>
                    <li>전체주문</li>
                    <li class="on">
                        <%= title %>
                    </li>
                </ul>
                <ul class="helpbox">
                    <li>전체 주문목록을 보실 수 있습니다.</li>
                </ul>

                <!-- 검색 폼 : 시작 ###################################################################### -->
                <form name="sFrm">
                    <table class="t_form">
                        <caption>주문 검색</caption>
                        <tbody>
                            <tr>
                                <th>진행상태</th>
                                <td>
                                    <div class="mgb5">
                                        <label><input type="checkbox" name="cstep" value="101">입금확인중</label>
                                        <label class="mgl20"><input type="checkbox" name="cstep" value="102">결제완료</label>
                                        <label class="mgl20"><input type="checkbox" name="cstep" value="103">상품준비중</label>
                                        <label class="mgl20"><input type="checkbox" name="cstep" value="104">발송완료</label>
                                        <label class="mgl20"><input type="checkbox" name="cstep" value="105">구매확정</label>
                                        <label class="mgl20"><input type="checkbox" name="cstep" value="106">주문취소</label>
                                    </div>
                                    <div>
                                        <label><input type="checkbox" name="cstep" value="210">주문취소신청</label>
                                        <label class="mgl20"><input type="checkbox" name="cstep" value="220">주문교환신청</label>
                                        <label class="mgl20"><input type="checkbox" name="cstep" value="221">주문교환완료</label>
                                        <label class="mgl20"><input type="checkbox" name="cstep" value="230">주문반품신청</label>
                                        <label class="mgl20"><input type="checkbox" name="cstep" value="231">주문반품완료</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th>결제수단</th>
                                <td>
                                    <label><input type="radio" name="spayway" value="" checked="">전체</label>
                                    <label class="mgl20"><input type="radio" name="spayway" value="online">온라인입금</label>
                                    <label class="mgl20"><input type="radio" name="spayway" value="card">신용카드</label>
                                    <label class="mgl20"><input type="radio" name="spayway" value="bank">계좌이체</label>
                                    <label class="mgl20"><input type="radio" name="spayway" value="virtual">가상계좌</label>
                                    <label class="mgl20"><input type="radio" name="spayway" value="escrow">에스크로</label>
                                </td>
                            </tr>
                            <tr>
                                <th>기간</th>
                                <td>
                                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                                        <input id="startpicker-input" type="text" aria-label="Date">
                                        <span class="tui-ico-date"></span>
                                        <div id="startpicker-container" style="margin-left: -1px;"></div>
                                    </div>
                                    <span>~</span>
                                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                                        <input id="endpicker-input" type="text" aria-label="Date">
                                        <span class="tui-ico-date"></span>
                                        <div id="endpicker-container" style="margin-left: -1px;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>주문금액</th>
                                <td>
                                    <input type="text" name="ssprice" class="text_input" style="width:100px" onkeyup="toCurrency(this)" onblur="toCurrency(this)"> 원 ~
                                    <input type="text" name="seprice" class="text_input" style="width:100px" onkeyup="toCurrency(this)" onblur="toCurrency(this)"> 원
                                </td>
                            </tr>
                            <tr>
                                <th>상품분류</th>
                                <td>
                                    <div class="fl mgr5">
                                        <select id="scate_1" name="scate_1" class="text_input" style="width: 150px;" onchange="sc.get(this) ">
                                            <option value=" ">선택</option>                                     
                                        </select>
                                    </div>
                                    <div class="fl mgr5 ">
                                        <select id="scate_2 " name="scate_2" class="text_input" style="width: 150px;" onchange="sc.get(this)">
                                        <option value="">선택</option>
                                        </select>
                                    </div>
                                    <div class="fl mgr5">
                                        <select id="scate_3" name="scate_3" class="text_input" style="width: 150px;" onchange="sc.get(this)">
                                            <option value="">선택</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>그룹별</th>
                                <td>
                                    <select id="sdealer" name="sdealer" class="text_input" onchange=" change(); ">
                                        <option value=" ">상품입점업체</option>                                     
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <th>직접검색</th>
                                <td>
                                    <select id="skey " name="skey " class="text_input">
                                    <option value=" ">전체</option>
                                    <option value="ordno ">주문번호</option>
                                    <option value="id ">주문자ID</option>
                                    <option value="ordname ">주문자명</option>
                                    <option value="ordemail ">주문자이메일</option>
                                    <option value="ordtel ">주문자연락처</option>
                                    <option value="rcvname ">수령인명</option>
                                    <option value="rcvtel ">수령인전화번호</option>
                                    <option value="remittor ">입금자명</option>
                                    <option value="gcode ">상품코드</option>
                                    <option value="gname ">상품명</option>
                                    </select>

                                    <input type="text " name="sword " class="text_input " style="width:300px ">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btn_center ">
                        <button type="submit" class="btn btn-lg btn-info">검색</button>
                    </div>

                </form>
                <!-- 검색 폼 : 끝 ###################################################################### -->

                <form name="Frm ">
                    <div class="section_head ">
                        <h4><i class="xi-check-circle"></i> 총 <strong>23</strong>건의 주문이 조회되었습니다.</h4>
                        <div class="mgb5 ">
                            <select id="psize" name="psize " class="text_input" onchange="changeList() ">
                                <option value="10" selected>10줄씩보기</option>
                                <option value="20">20줄씩보기</option>
                                <option value="30">30줄씩보기</option><option value="50 ">50줄씩보기</option>
                                <option value="100">100줄씩보기</option>
                            </select>
                            <select id="psort" name="psort" class="text_input" onchange="changeList() ">
                                <option value="orddt " selected>주문일</option>
                                <option value="ordno ">주문번호</option>
                                <option value="ordprice ">주문금액순</option>
                                <option value="id ">주문자아이디순</option>
                                <option value="ordname ">주문자명순</option>
                                <option value="rcvname ">수령인순</option>
                                <option value="claimdt ">취소/반품/교환접수일</option>
                            </select>
                        </div>
                    </div>

                    <table class="t_list">
                        <caption>주문 리스트</caption>
                        <colgroup>
                            <col width="30">
                            <col width="50">
                            <col width="110">
                            <col width="85">
                            <col width="13%">
                            <col width="10%">
                            <col width="14%">
                            <col width="9%">
                            <col width="*">
                        </colgroup>
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="cbListAll" onclick="checkCbListAll()"></th>
                                <th>NO</th>
                                <th>주문번호</th>
                                <th>주문일시</th>
                                <th>총주문금액</th>
                                <th>배송비</th>
                                <th>주문자</th>
                                <th>결제상태</th>
                                <th>진행상태</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color:#f9f9f9 ">
                                <td><input type="checkbox" name="cbList" onclick="checkCbList(this) "></td>
                                <td>23</td>
                                <td>
                                    <div><u>A1929039662520</u></div>
                                    <div class="mgt5"><button type="button" class="btn btn-sm btn-default" onclick="openDetail(284) ">상세정보</button></div>
                                </td>
                                <td>2019-10-17<br>11:01:03</td>
                                <td>50,000원</td>
                                <td>0원</td>
                                <td>
                                    <div>김기동</div>
                                    <div>(비회원)</div>
                                </td>
                                <td>[입금확인전]<br>처리 전</td>
                                <td>
                                    <div>
                                        <u>입금확인중</u>
                                    </div>
                                    <div class="order_step">
                                        <a href="javascript:;" onclick="setConfirm(284);return false; ">결제완료로 이동</a>
                                    </div>
                                    <div class="order_remove"><a href="javascript:;" onclick="openRequestClaim( '100', 284);return false;">주문취소신청</a>
                                    </div>
                                </td>
                            </tr>

                            <tr style="background-color:#fffbec">
                                <td colspan="2"><strong>결제</strong></td>
                                <td colspan="7" class="left ">
                                    <div>
                                        <strong class="blue">온라인입금</strong>
                                        <span class="red"><strong>50,000원</strong></span>
                                    </div>
                                    <div class="mgt5">입금계좌 : 국민은행&nbsp;00000000000000, 입금자명 : 김기동</div>
                                </td>
                            </tr>
                            <tr style="background-color:#fffbec">
                                <td colspan="2 "><strong>수령인</strong></td>
                                <td colspan="7 " class="left">
                                    <div>김기동, 서울 서초구 서초동 1376-8 124-1 [010-4200-5322]</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9 " style="padding:0">
                                    <table class="t_order_pro">
                                        <colgroup>
                                            <col width="*">
                                            <col width="100">
                                            <col width="120">
                                            <col width="120">
                                            <col width="120">
                                            <col width="200">
                                            <col width="150">
                                            <col width="25">
                                            <col width="60">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>주문상품</th>
                                                <th>수량</th>
                                                <th>공급가</th>
                                                <th>판매가</th>
                                                <th>배송비</th>
                                                <th>배송정보</th>
                                                <th>진행상태</th>
                                                <td><input type="checkbox" name="cbGoodsAll" onclick="checkCbGoodsAll(this)"></td>
                                                <th>수량변경<br>변경이력</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="goods tc">
                                                    <img src="/img/43.jpg " class="photo" onerror="this.src='/img/blank.gif' ">
                                                    <div class="info ">
                                                        <div><a href="" target="_blank ">[NCGN] Sports Goggle</a></div>
                                                        <div class="mgt3 ">
                                                            <span style="color:gray; margin-right:3px; ">판매자:</span>
                                                            <a href="javascript:; " onclick="loginDealer(8) "><strong class="orange ">dealers(내친구몰)</strong></a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>1</td>
                                                <td>42,500</td>
                                                <td>50,000</td>
                                                <td>0</td>
                                                <td class="delivery ">
                                                    <div class="mgt5">
                                                        <select id="delivery_284_409 " name="delivery_284_409" class="text_input" style="width:105px;background:#f0f0f0;" disabled>
                                                            <option value=" ">배송업체선택</option>
                                                            <optgroup label="----------------"></optgroup>
                                                            <option value="7 ">대한통운</option>
                                        <option value="8 ">로젠택배</option></select>
                                                        <button type="button" class="btn btn-sm btn-default" disabled="disabled ">확인</button>
                                                    </div>
                                                    <div class="mgt5 ">
                                                        <input name="deliveryNo_284_409" type="text " class="text_input" style="width:155px;background:#f0f0f0;" maxlength="50 " disabled>
                                                    </div>

                                                </td>
                                                <td>
                                                    <div><span style="text-decoration:underline ">입금확인중</span></div>
                                                    <div class="order_step "></div>
                                                    <div class="order_remove "></div>
                                                </td>
                                                <td rowspan="2"><input type="checkbox" name="cbGoods" value="409 " onclick="checkCbGoods(this)" disabled></td>
                                            </tr>


                                            <!-- 취소/반품/교환 내역 : 시작 -->
                                            <tr class="mod_history " style="display:none ">
                                                <td colspan="9 "></td>
                                            </tr>
                                            <!-- 취소/반품/교환 내역 : 끝 //-->

                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    </td>
                    </tr>


                    </tbody>
                    </table>

                    <div class="paging " style="margin-top:10px ">
                        <span><a href=""><strong>1</strong></a></span>
                    </div>

                    <div class="btn_right ">
                        <button type="button" class="btn btn-default" onclick="checkCbListAll() ">전체선택</button>
                    </div>

                    <ul class="order_list_btn ">
                        <li>
                            <strong class="title"><i class="xi-check-circle"></i> 일괄수정 : </strong> 선택한 주문건을
                            <select id="batchOrdStep" name="batchOrdStep" class="text_input">
                                <option value=" ">선택</option>
                                <option value="100">입금확인중</option>
                                <option value="200">결제완료</option>
                            </select> 로(으로)
                            <button type="button" class="btn btn-sm btn-default" onclick="setStepList() ">수정하기</button>
                        </li>

                        <li class="title">
                            <strong class="title"><i class="xi-check-circle"></i> 일괄상품수정 :</strong> 선택한 주문 상품을
                            <button type="button" class="btn btn-sm btn-default" onclick="setReadyList() ">상품준비중으로 이동</button>
                        </li>

                        <li>
                            <strong class="title"><i class="xi-check-circle"></i> 엑셀다운 :</strong> 선택한 주문건을
                            <button type="button" class="btn btn-sm btn-default" onclick="downExcel(true) ">엑셀로받기</button> 현재 페이지의 모든 주문건을
                            <button type="button" class="btn btn-sm btn-default" onclick="downExcel() ">엑셀로받기</button>
                    </ul>

                </form>


                <!-- 엑셀다운 폼 : 시작 ###################################################################### -->
                <form name="FrmExcel " method="post ">
                    <input type="hidden" name="mode">
                    <input type="hidden" name="idx">
                </form>
                <!-- 엑셀다운 폼 : 끝 ###################################################################### -->


                <%- include('../inc/footer') %>

                    <!-- 달력관련 -->
                    <script>
                        var today = new Date();
                        var picker = tui.DatePicker.createRangePicker({
                            language: 'ko',
                            startpicker: {
                                date: today,
                                input: '#startpicker-input',
                                container: '#startpicker-container'
                            },
                            endpicker: {
                                date: today,
                                input: '#endpicker-input',
                                container: '#endpicker-container'
                            },
                            selectableRanges: [
                                [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
                            ]
                        });
                    </script>

                    <script type="text/javascript ">
                        //<![CDATA[
                        function change() {
                            var f = document.sFrm;

                            validSearch(f);

                            f.submit();
                        }

                        function validSearch(f) {
                            var sstep = '';

                            if (f.cstep) {
                                for (var i = 0; i < f.cstep.length; i++) {
                                    if (f.cstep[i].checked) sstep += (sstep ? ',' : '') + f.cstep[i].value;
                                    f.cstep[i].disabled = true;
                                }
                                f.sstep.value = sstep;
                            }

                            var selects = _ee(_pe(f.scate, 'td'), 'select');
                            for (var i = 0; i < selects.length; i++) {
                                selects[i].disabled = true;
                            }

                            if (!isDate(f.sdts.value)) f.sdts.value = '';
                            if (!isDate(f.sdte.value)) f.sdte.value = '';

                            f.target = "_self ";
                        }

                        function loginDealer(no) {
                            var f = document.loginFrm;

                            f.no.value = no;
                            f.submit();
                        }
                        //]]>
                    </script>


                    <script type="text/javascript ">
                        //<![CDATA[
                        function changeList() {
                            var f = document.Frm;
                            var sf = document.sFrm;

                            sf.psort.value = f.psort.value;
                            sf.psize.value = f.psize.value;

                            validSearch(sf);

                            sf.submit();
                        }

                        function checkCbList(obj) {
                            var f = obj.form;
                            var total = checked = 0;

                            $(f[obj.name]).each(function() {
                                ++total;
                                if ($(this).is(':checked')) ++checked;
                            });
                            f.cbListAll.checked = (total == checked ? true : false);
                            f.isCheckCbListAll.value = (total == checked ? 'T' : 'F');
                        }

                        function checkCbListAll() {
                            var f = document.Frm;

                            if (f.isCheckCbListAll.value != "T ") {
                                checkCbAll(f.cbList, true);
                                f.cbListAll.checked = true;
                                f.isCheckCbListAll.value = "T ";
                            } else {
                                checkCbAll(f.cbList, false);
                                f.cbListAll.checked = false;
                                f.isCheckCbListAll.value = "F ";
                            }
                        }

                        function checkCbGoods(obj) {
                            var $table = $(obj).parents('table').first();
                            var total = checked = 0;

                            $table.find('input[name="cbGoods "]').each(function() {
                                if (!this.disabled) {
                                    ++total;
                                    if ($(this).is(':checked')) ++checked;
                                }
                            });
                            $table.find('input[name="cbGoodsAll "]').prop('checked', (total == checked ? true : false));
                        }

                        function checkCbGoodsAll(obj) {
                            $(obj).parents('table').first().find('input[name="cbGoods "]').each(function() {
                                if (!this.disabled) {
                                    this.checked = obj.checked;
                                }
                            });
                        }

                        // 배송정보 입력확인(주문상품_일련번호 수준)
                        function checkDeliveryInfo(idx, goodsIdx) {
                            var f = document.Frm;

                            var objDelivery = f['delivery_' + idx + '_' + goodsIdx];
                            var objDeliveryNo = f['deliveryNo_' + idx + '_' + goodsIdx];

                            if (!objDelivery || (objDeliveryNo.disabled && isEmpty(objDeliveryNo))) {
                                alert("배송정보를 등록할 수 없습니다. ");
                                return false;
                            }

                            if (isEmpty(objDelivery)) {
                                alert("배송업체를 선택해 주세요. ");
                                objDelivery.focus();
                                return false;
                            }

                            if (isEmpty(objDeliveryNo)) {
                                alert("송장번호를 입력해 주세요. ");
                                objDeliveryNo.focus();
                                return false;
                            }

                            return true;
                        }
                        //]]>
                    </script>

                    <script type="text/javascript ">
                        //<![CDATA[                            
                        function openDetail(idx) { // 주문정보 상세보기
                            var url = "order_detail_pop";
                            var name = "Detail";
                            var option = "width=820, height=500, top=100, left=200, location=0,scrollbars=1";
                            window.open(url, name, option);
                        }

                        function openDeliveryBatch(idx) { // 일괄 발송완료 처리
                            var url = "order_delivery_batch_pop";
                            var name = "DeliveryBatch";
                            var option = "width=618, height=500, top=100, left=200, location=0,scrollbars=1";
                            window.open(url, name, option);
                            // openPopup("order_delivery_batch.pop.asp?idx=" + idx, " DeliveryBatch ", 618, 500, "scrollbars=1 ");
                        }

                        function openRequestClaim(type, idx, goodsIdx) { // 취소/교환/반품 신청
                            var url = "../../mypage/order_claim_request.pop";
                            var name = "ClaimOrder";
                            var option = "width=800, height=750, top=0, left=0, location=0,scrollbars=1";
                            window.open(url, name, option);
                        }

                        function setConfirm(idx) { // 입금확인
                            var f = document.Frm;

                            if (confirm("해당 주문을 결제완료로 설정 하시겠습니까? ")) {
                                f.idx.value = idx;
                                f.action = "order_confirm.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }

                        function setReady(idx, goodsIdx, block) { // 상품준비중
                            var f = document.Frm;

                            if (block) {
                                alert("현재 취소신청이 접수된 주문상품입니다.\n\n취소처리 완료 후 실행하실 수 있습니다. ");
                                return false;
                            } else if (confirm("해당 주문상품을 확인처리 하시겠습니까?\n\n확인하신 주문상품은 상품준비중으로 이동됩니다. ")) {
                                f.idx.value = idx;
                                f.goodsIdx.value = goodsIdx;
                                f.action = "order_ready.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }

                        function setReadyList() {
                            var f = document.Frm;
                            var items = '';

                            if (!f.cbGoods) return false;
                            var arrStateGoods = new Array();
                            var $ordStepGoods = $(f.ordStepGoods);

                            $(f.cbGoods).each(function(index) {
                                if (this.checked) {
                                    items += (items ? ',' : '') + this.value;
                                    arrStateGoods[arrStateGoods.length] = $ordStepGoods.eq(index).val();
                                }
                            });

                            if (items == '') {
                                alert("주문상품 확인처리를 하실 주문상품을 선택해 주세요.");
                                return false;
                            }

                            for (var i = 0; i < arrStateGoods.length; i++) {
                                if (arrStateGoods[i] != '200') {
                                    alert("진행상태가 결제완료인 주문상품만 상품준비중으로 설정이 가능합니다.");
                                    return false;
                                }
                            }

                            if (confirm("선택한 주문상품을 일괄 주문상품 확인처리 하시겠습니까? ")) {
                                f.idx.value = " ";
                                f.goodsIdx.value = items;
                                f.action = "order_ready.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }

                        function setDelivery(idx, goodsIdx, block) { // 발송완료
                            var f = document.Frm;

                            if (block) {
                                alert("현재 클레임(취소/반품/교환)이 진행 중인 경우\n해당 클레임을 완료하신 후 처리하실 수 있습니다. ");
                                return false;
                            } else {
                                if (!checkDeliveryInfo(idx, goodsIdx)) return false;

                                if (confirm("입력하신 배송정보로 수정하시겠습니까?\n\n해당 주문상품 진행상태는 발송완료로 설정됩니다. ")) {
                                    f.idx.value = idx;
                                    f.goodsIdx.value = goodsIdx;
                                    f.action = "order_delivery.act.asp ";
                                    f.submit();
                                }
                            }
                        }

                        function setCancel(goodsIdx, ordStep) { // 취소확인
                            var f = document.Frm;
                            var msg;

                            switch (ordStep) {
                                case '611':
                                case '612':
                                    msg = "선택한 주문의 취소신청을 승인하시겠습니까? ";
                                    break;
                                default:
                                    alert("처리할 수 없는 주문입니다. ");
                                    return false;
                            }

                            if (confirm(msg)) {
                                f.goodsIdx.value = goodsIdx;
                                f.action = "order_cancel.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }

                        function setChange(goodsIdx, mode) { // 교환승인/상품수령확인
                            var f = document.Frm;

                            if (mode == 'DELIVERY') {
                                $.laybox({
                                    type: 'iframe',
                                    source: 'order_change_invoice.ifrm.asp?menu=&cgidx=' + goodsIdx + "&params=menu=&sstep=&spayway=&sdts=&sdte=&ssprice=&seprice=&scate=0&sdealer=0&snoacct=0&skey=&sword=&psort=orddt&psize=10 "
                                });
                            } else {
                                switch (mode) {
                                    case 'AGREE':
                                        msg = "선택한 주문의 교환신청에 동의 하시겠습니까? ";
                                        break;
                                    case 'RECEIVE':
                                        msg = "교환상품의 수령확인을 하시겠습니까? ";
                                        break;
                                }
                                if (confirm(msg)) {
                                    f.mode.value = mode;
                                    f.goodsIdx.value = goodsIdx;
                                    f.action = "order_change.act.asp ";
                                    f.target = "_self ";
                                    f.submit();
                                }
                            }
                        }

                        function setReturn(goodsIdx, mode) { // 반품승인/상품수령확인
                            var f = document.Frm;

                            switch (mode) {
                                case 'AGREE':
                                    msg = "선택한 주문의 반품신청에 동의 하시겠습니까? ";
                                    break;
                                case 'RECEIVE':
                                    msg = "반품상품의 상품수령확인을 하시겠습니까?\n\n해당 반품상품의 환불요청을 진행합니다. ";
                                    break;
                            }
                            if (confirm(msg)) {
                                f.mode.value = mode;
                                f.goodsIdx.value = goodsIdx;
                                f.action = "order_return.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }

                        function setRestore(goodsIdx, ordStep) { // 클레임거절
                            var f = document.Frm;
                            var msg;

                            switch (ordStep) {
                                case '611':
                                case '612':
                                    msg = "선택한 주문상품의 취소신청을 거절하시겠습니까? ";
                                    break;
                                case '710':
                                    msg = "선택한 주문상품의 교환신청을 거절하시겠습니까? ";
                                    break;
                                case '810':
                                    msg = "선택한 주문상품의 반품신청을 거절하시겠습니까? ";
                                    break;
                                default:
                                    alert("처리할 수 없는 주문입니다. ");
                                    return false;
                            }

                            if (confirm(msg)) {
                                f.goodsIdx.value = goodsIdx;
                                f.action = "order_restore.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }

                        function setRollback(goodsIdx, ordStep) { // 클레임 롤백
                            var f = document.Frm;
                            var msg;

                            switch (ordStep) {
                                case '720':
                                    msg = "교환을 취소하시겠습니까? ";
                                    break;
                                case '730':
                                    msg = "교환상품 반송을 취소하시겠습니까? ";
                                    break;
                                case '750':
                                    msg = "교환상품 수령을 취소하시겠습니까? ";
                                    break;
                                case '820':
                                    msg = "반품을 취소하시겠습니까? ";
                                    break;
                                case '830':
                                    msg = "반품상품 반송을 취소하시겠습니까? ";
                                    break;
                                default:
                                    alert("처리할 수 없는 주문입니다. ");
                                    return false;
                            }

                            if (confirm(msg)) {
                                f.goodsIdx.value = goodsIdx;
                                f.action = "order_rollback.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }

                        function setClaimRefund(idx, mode) {
                            var f = document.Frm;
                            var msg;

                            switch (mode) {
                                case '200':
                                    msg = "해당 취소/반품건에 대한 환불계좌 송금처리를 하시겠습니까? ";
                                    break;
                                default:
                                    mode = '';
                                    msg = "해당 취소/반품건에 대한 환불처리를 하시겠습니까? ";
                                    break;
                            }

                            if (confirm(msg)) {
                                f.mode.value = mode;
                                f.idx.value = idx;
                                f.action = "order_claim_refund.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }

                        function escrowDelivery(idx, pg) { // 에스크로배송
                            var f = document.Frm;
                            var action;

                            switch (pg) {
                                case "ALLTHEGATE ":
                                    f.mode.value = "delivery ";
                                    action = "http://mimd.mallstore.co.kr/pay/allthegate/AGS_escrow_ing.asp ";
                                    break;
                                case "INICIS ":
                                    action = "/pay/inicis/INIescrow_delivery.asp ";
                                    break;
                                case "KCP ":
                                    f.mode.value = "delivery ";
                                    action = "/pay/kcp/mod_escw.asp ";
                                    break;
                                case "UPLUS ":
                                    action = "/pay/uplus/escrow_delivery.asp ";
                                    break;

                                default:
                                    alert("처리할 수 없습니다. ");
                                    return false;
                                    break;
                            }

                            f.idx.value = idx;
                            f.action = action;
                            f.target = "_self ";
                            f.submit();
                        }

                        function del(idx) { // 삭제
                            var f = document.Frm;

                            if (confirm("선택한 주문을 삭제하시겠습니까?\n\n삭제를 하시면 해당 주문과 관련된 내용을 복구 할 수 없습니다. ")) {
                                f.idx.value = idx;
                                f.action = "order_del.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }

                        function setDecision(idx, goodsIdx) { // 관리자 구매확인
                            var f = document.Frm;

                            if (confirm("발송완료된 주문상품을 구매확정 하시겠습니까? ")) {
                                f.mode.value = "CONFIRM ";
                                f.idx.value = idx;
                                f.goodsIdx.value = goodsIdx;
                                f.action = "order_decision.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }

                        function setDecisionList() {
                            var f = document.Frm;
                            var items = '';
                            var isBlockDecision = false;

                            if (!f.cbList) return false;

                            var $isSetDecision = $(f.isSetDecision);

                            $(f.cbList).each(function(index) {
                                if (this.checked) {
                                    items += (items ? ',' : '') + this.value;
                                    if ($isSetDecision.eq(index).val() != 'T') isBlockDecision = true;
                                }
                            });

                            if (items == '') {
                                alert("구매확정 하실 주문을 선택해 주세요. ");
                                return false;
                            }

                            if (isBlockDecision) {
                                alert("구매확정 할 수 없는 주문상품이 포함된 주문이 있습니다.\n확인 후 다시 시도해 주세요. ");
                                return false;
                            }

                            if (confirm("선택한 주문에 포함된 발송완료된 주문상품을 구매확정 하시겠습니까? ")) {
                                f.mode.value = "CONFIRM ";
                                f.idx.value = items;
                                f.goodsIdx.value = '';
                                f.action = "order_decision.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }

                        function setDecisionRollback(idx, goodsIdx) { // 구매확인 취소(발송완료로 이동)
                            var f = document.Frm;

                            if (confirm("구매확정된 주문상품을 발송완료 단계로 설정하시겠습니까? ")) {
                                f.mode.value = "CANCEL ";
                                f.idx.value = idx;
                                f.goodsIdx.value = goodsIdx;
                                f.action = "order_decision.act.asp ";
                                f.target = "_self ";
                                f.submit();
                            }
                        }
                        //]]>
                    </script>

                    <script type="text/javascript ">
                        //<![CDATA[
                        function checkClaimHistory(obj, idx) {
                            var $container = $(obj).parent().parent().parent().next();

                            if ($container.is(':visible')) {
                                $container.hide().children().remove();
                            } else {
                                $.ajax({
                                    type: "POST ",
                                    url: "order_list_claim_history.ajax.asp ",
                                    data: {
                                        idx: idx
                                    },
                                    error: function(request, status, error) {
                                        alert(request.responseText)
                                    },
                                    success: function(data) {
                                        $('<div />').append(data).appendTo($container).parent().show();
                                    }
                                });
                            }
                        }

                        function checkModHistory(obj, idx) {
                            var $container = $(obj).closest('tr').next('.mod_history');

                            if ($container.is(':visible')) {
                                $container.hide().children().children().remove();
                            } else {
                                $.ajax({
                                    type: "POST ",
                                    url: "order_list_mod_history.ajax.asp ",
                                    data: {
                                        idx: idx
                                    },
                                    error: function(request, status, error) {
                                        alert(request.responseText)
                                    },
                                    success: function(data) {
                                        $('<div />').append(data).appendTo($container.children()).parent().parent().show();
                                    }
                                });
                            }
                        }

                        function checkClaimRequest(obj, idx) {
                            var $container = $(obj).next();

                            if ($container.is(':visible')) {
                                $container.hide().children().remove();
                            } else {
                                $.ajax({
                                    type: "POST ",
                                    url: "order_list_claim_request.ajax.asp ",
                                    data: {
                                        idx: idx
                                    },
                                    error: function(request, status, error) {
                                        alert(request.responseText)
                                    },
                                    success: function(data) {
                                        $('<div />').append(data).appendTo($container).parent().show();
                                    }
                                });
                            }
                        }
                        //]]>
                    </script>

                    <script type="text/javascript ">
                        //<![CDATA[
                        function setStepList() {
                            var f = document.Frm;
                            var items = '';
                            var action;

                            var arrPayway = new Array();
                            var arrStep = new Array();
                            var isEscrow = false;
                            var isDecision = false;

                            var stepText = f.batchOrdStep.options[f.batchOrdStep.selectedIndex].text;
                            var stepValue = f.batchOrdStep.options[f.batchOrdStep.selectedIndex].value;

                            if (!f.cbList) return false;

                            if (stepValue == '') {
                                alert("수정할 상태를 선택해 주세요. ");
                                f.batchOrdStep.focus();
                                return false;
                            }

                            var $payway = $(f.payway);
                            var $ordStep = $(f.ordStep);
                            var $eswStep = $(f.eswStep);
                            var $isDecision = $(f.isDecision);

                            $(f.cbList).each(function(index) {
                                if (this.checked) {
                                    items += (items ? ',' : '') + this.value;

                                    arrPayway[arrPayway.length] = $payway.eq(index).val();
                                    arrStep[arrStep.length] = $ordStep.eq(index).val();
                                    if ($eswStep.eq(index).val().toNumeric() > 0) isEscrow = true;
                                    if ($isDecision.eq(index).val() == 'T') isDecision = true;
                                }
                            });

                            if (items == '') {
                                alert(stepText + "로(으로) 수정하실 주문을 선택해 주세요. ");
                                return false;
                            }

                            if (isDecision && (stepValue == '100' || stepValue == '200')) {
                                alert("구매확정된 주문상품이 포함된 주문은 정산에 영향을 미치므로 수정하실 수 없습니다 ");
                                return false;
                            }

                            // 입금확인중
                            if (stepValue == '100') {
                                if (isEscrow) {
                                    alert("에스크로로 결제된 주문이 포함되어 있습니다. 입금확인중으로 수정할 수 없습니다. ");
                                    return false;
                                }

                                for (var i = 0; i < arrStep.length; i++) {
                                    if (arrStep[i] != '200' || arrPayway[i] != '128') {
                                        alert("진행상태가 결제완료이고 온라인입금으로 결제된 주문만 입금확인중으로 설정이 가능합니다. ");
                                        return false;
                                    }
                                }

                                action = "order_new.act.asp ";
                            }

                            // 결제완료
                            else if (stepValue == '200') {
                                for (var i = 0; i < arrStep.length; i++) {
                                    if (arrStep[i] != '100' && arrStep[i] != '300') {
                                        alert("진행상태가 입금확인중 또는 상품준비중인 주문만 결제완료으로 설정이 가능합니다.");
                                        return false;
                                    }
                                }
                                action = "order_confirm.act.asp ";
                            }

                            if (confirm("선택한 주문을 " + stepText + "로(으로) 수정하시겠습니까? ")) {
                                f.idx.value = items;
                                f.action = action;
                                f.target = "_self ";
                                f.submit();
                            }
                        }



                        function downExcel(isSelect) {
                            var f = document.Frm;
                            var fe = document.FrmExcel;
                            var mode = '';
                            var items = '';

                            if (!isSelect) isSelect = false;

                            if (!f.cbList) return false;

                            if (isSelect) {
                                $(f.cbList).each(function() {
                                    if (this.checked) items += (items ? ',' : '') + this.value;
                                });

                                if (items == '') {
                                    alert("주문을 선택해 주세요. ");
                                    return false;
                                }

                                mode = "SELECT ";
                            }

                            fe.mode.value = mode;
                            fe.idx.value = items;
                            fe.action = "order_list.excel.asp ";
                            fe.target = "frmProc ";
                            fe.submit();
                        }
                        //]]>
                    </script>


                    </body>

                    </html>