<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>
                    <%= title %>
                </h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>환경설정</li>
                    <li>전체운영설정</li>
                    <li class="on">
                        <%= title %>
                    </li>
                </ul>
                <ul class="helpbox">
                    <li>현재의 회원권한 내용을 확인합니다.</li>
                </ul>

                <form name="Frm" method="post" enctype="multipart/form-data">

                    <div class="box">
                        <div class="section_head">
                            <h4><i class="xi-check-circle"></i> 회원등급 관리</h4>
                        </div>

                        <table class="t_form">
                            <caption>회원등급 관리 폼</caption>
                            <tbody>
                                <tr>
                                    <th>등급명</th>
                                    <td>
                                        <input type="text" name="levelName" value="일반회원" maxlength="15" class="text_input">
                                    </td>
                                </tr>
                                <tr>
                                    <th>등급</th>
                                    <td>
                                        <select id="levelNo" name="levelNo" class="text_input">
                                            <option value="1" selected="">1 등급</option>
                                            <optgroup label="--------------------"></optgroup>
                                            <option value="2">2 등급</option><option value="3">3 등급</option>
                                            <option value="5">5 등급</option><option value="6">6 등급</option>
                                            <option value="7">7 등급</option><option value="8">8 등급</option>
                                            <option value="9">9 등급</option><option value="10">10 등급</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>할인율</th>
                                    <td>
                                        <ul class="arrange">
                                            <li><input type="text" name="discountValue" value="10" maxlength="20" class="text_input"></li>
                                            <li>
                                                <select id="discountUnit" name="discountUnit" class="text_input" style="width: 100px;">
                                                    <option value="200" selected>%</option>
                                                    <option value="100">원</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>적립률</th>
                                    <td>
                                        <ul>
                                            <li>
                                                <input type="radio" name="cmoneyPolicy" value="0" checked> 적립금 지급 안함
                                            </li>
                                            <li class="mgt20">
                                                <input type="radio" name="cmoneyPolicy" value="6" class="text_input">
                                                <select id="cmoneyPolicyPrice" name="cmoneyPolicyPrice" class="text_input" style="width:85px" disabled>
                                                    <option value="2">판매가</option>
                                                    <option value="4">결제가</option>
                                                </select> 의
                                                <input type="text" name="cmoneyPercent" maxlength="5" class="text_input" style="width:70px" disabled> % 지급
                                            </li>
                                            <li class="mgt20">
                                                <input type="radio" name="cmoneyPolicy" class="text_input" value="8"> 구매 상품(개수) 당
                                                <input type="text" name="cmoneyMoney" class="text_input" style="width:70px" disabled> 원 지급
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>이미지</th>
                                    <td>
                                        <input type="file" name="imgLevel">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="btn_center">
                        <button type="button" class="btn btn-info">확인</button>
                        <button type="button" class="btn btn-secondary">취소</button>
                    </div>

                </form>


                <%- include('../inc/footer') %>

                    </body>

                    </html>