<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>
                    <%= title %>
                </h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>상품관리</li>
                    <li>카테고리관리</li>
                    <li class="on">
                        <%= title %>
                    </li>
                </ul>
                <ul class="helpbox">
                    <li>카테고리를 설정합니다.</li>
                    <li>이미지파일은 GIF, JPG로 올려주시기 바랍니다.</li>
                </ul>

                <table id="frameBox">
                    <colgroup>
                        <col width="250">
                        <col width="10">
                        <col width="*">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th class="frame_cate">
                                <div class="border">
                                    <div class="menu">
                                        <ul>
                                            <li><button type="button" class="btn btn-sm btn-success" id="btn-expand-all">전체</button></li>
                                            <li><button type="button" class="btn btn-sm btn-danger" id="btn-collapse-all">닫기</button></li>
                                        </ul>
                                    </div>
                                    <div id="tree"></div>
                                </div>
                            </th>
                            <td></td>
                            <td>

                                <form name="Frm" method="post">
                                    <div id="wrap_body">
                                        <!-- 카테고리 정보 : 시작 -->
                                        <div class="box" style="padding-top:0">
                                            <div class="section_head" style="margin-top: 0;">
                                                <h4><i class="xi-check-circle"></i> 카테고리 추가</h4>
                                            </div>

                                            <table class="t_form">
                                                <caption>카테고리 내용 입력폼</caption>
                                                <tbody>
                                                    <tr>
                                                        <th>현재 카테고리</th>
                                                        <td class="category">
                                                            <u id="target_category"> 추가</u>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>카테고리명</th>
                                                        <td>
                                                            <input type="text" name="name" value="" class="text_input" style="width:98%" maxlength="100">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>수수료율</th>
                                                        <td>
                                                            <input type="text" name="cms" class="text_input" style="width:50px" value="" maxlength="5" onkeyup="onlyFloat(this)" onblur="onlyFloat(this)"> %
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>숨김 여부</th>
                                                        <td>
                                                            <span><input type="radio" name="hidden" value="0" checked>노출</span>
                                                            <span class="mgl20"><input type="radio" name="hidden" value="1">숨김</span>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- 카테고리 정보 : 끝 //-->

                                        <!-- 상단 꾸미기 : 시작 -->
                                        <div class="box">
                                            <div class="section_head">
                                                <h4><i class="xi-check-circle"></i> 카테고리 상단 디자인</h4>
                                            </div>
                                            <div class="summernote"></div>

                                            <table class="t_form" style="margin-top: -21px;">
                                                <tbody>
                                                    <tr>
                                                        <th>하위 적용</th>
                                                        <td>
                                                            <input type="checkbox" name="isInheritTopDecor" value="T"> 하위 카테고리에도 동일 하게 적용.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- 상단 꾸미기 : 끝 //-->

                                        <!-- 카테고리 슬라이드 배너 : 시작 -->
                                        <div class="box">
                                            <div class="sortable_title">
                                                <h4><i class="xi-check-circle"></i> 카테고리 슬라이드 배너</h4>
                                                <p>
                                                    <span><input type="checkbox" name="cbListAll" onclick="cbBannerAll(this)">전체선택</span>
                                                    <button type="button" class="btn btn-sm btn-info mgl20">배너추가</button>
                                                    <button type="button" class="btn btn-sm btn-danger">배너삭제</button>
                                                    <button type="button" class="btn btn-sm btn-secondary">저장</button>
                                                </p>
                                            </div>
                                            <ul class="sortable sortable_banner ui-sortable mgt10" id="bannerList">
                                                <li>
                                                    <input type="checkbox" name="cbBanner" class="cb">

                                                    <div class="banner">
                                                        <img src="/img/event_category_2_1_1.jpg" alt="배너1">
                                                    </div>
                                                    <div class="caption">
                                                        <span class="ellipsis">배너1</span>
                                                        <hr/>
                                                        <button class="btn btn-sm btn-secondary" type="button">수정</button>
                                                        <a href="/img/event_category_2_1_1.jpg" class="btn btn-sm btn-default">원본</a></span>
                                                    </div>
                                                </li>

                                                <li>
                                                    <input type="checkbox" name="cbBanner" class="cb">
                                                    <div class="banner">
                                                        <img src="/img/event_category_2_2_1.jpg" alt="배너2" ow="790" oh="410">
                                                    </div>
                                                    <div class="caption">
                                                        <span class="ellipsis">배너2</span>
                                                        <hr/>
                                                        <button class="btn btn-sm btn-secondary" type="button">수정</button>
                                                        <a href="/img/event_category_2_2_1.jpg" class="btn btn-sm btn-default">원본</a></span>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                        <!-- 카테고리 슬라이드 배너 : 끝 //-->

                                        <div class="box">
                                            <div class="section_head">
                                                <h4><i class="xi-check-circle"></i> Best 추천상품 관리</h4>
                                            </div>

                                            <table class="t_form">
                                                <tbody>
                                                    <tr>
                                                        <th>출력여부</th>
                                                        <td>
                                                            <label><input type="radio" name="areaHiddenCMA" value="0" checked> 출력</label>
                                                            <label><input type="radio" name="areaHiddenCMA" value="1" class="mgl20"> 숨김</label>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>상품관리</th>
                                                        <td>
                                                            <select id="areaGoodsCMA" name="areaGoodsCMA" class="text_input" size="5" multiple max="0" style="width:100%" ondblclick="openGoods(this)"></select>

                                                            <div class="over_h mgt5">
                                                                <div class="fl">
                                                                    <button class="btn btn-sm btn-default" onclick="moveGoods('areaGoodsCMA', 'UP');">▲</button>
                                                                    <button class="btn btn-sm btn-default" onclick="moveGoods('areaGoodsCMA', 'DOWN');">▼</button>
                                                                    <button class="btn btn-sm btn-danger" onclick="delGoods('areaGoodsCMA');">삭제</button>
                                                                </div>
                                                                <div class="fr">
                                                                    <button class="btn btn-sm btn-secondary" onclick="openSelectGoods('areaGoodsCMA');">상품선택</button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="box">
                                            <div class="section_head">
                                                <h4><i class="xi-check-circle"></i> New 상품 관리</h4>
                                            </div>

                                            <table class="t_form">
                                                <tbody>
                                                    <tr>
                                                        <th>출력여부</th>
                                                        <td>
                                                            <label><input type="radio" name="areaHiddenCMB" value="0" checked> 출력</label>
                                                            <label><input type="radio" name="areaHiddenCMB" value="1" class="mgl20"> 숨김</label>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>상품관리</th>
                                                        <td>
                                                            <select id="areaGoodsCMB" name="areaGoodsCMB" class="text_input" size="5" multiple max="0" style="width:100%" ondblclick="openGoods(this)"></select>

                                                            <div class="over_h mgt5">
                                                                <div class="fl">
                                                                    <button class="btn btn-sm btn-default" onclick="moveGoods('areaGoodsCMB', 'UP');">▲</button>
                                                                    <button class="btn btn-sm btn-default" onclick="moveGoods('areaGoodsCMB', 'DOWN');">▼</button>
                                                                    <button class="btn btn-sm btn-danger" onclick="delGoods('areaGoodsCMB');">삭제</button>
                                                                </div>
                                                                <div class="fr">
                                                                    <button class="btn btn-sm btn-secondary" onclick="openSelectGoods('areaGoodsCMB');">상품선택</button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="box">
                                            <div class="section_head">
                                                <h4><i class="xi-check-circle"></i> MD 추천상품 관리</h4>
                                            </div>

                                            <table class="t_form">
                                                <tbody>
                                                    <tr>
                                                        <th>출력여부</th>
                                                        <td>
                                                            <label><input type="radio" name="areaHiddenCMC" value="0" checked> 출력</label>
                                                            <label><input type="radio" name="areaHiddenCMC" value="1" class="mgl20"> 숨김</label>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>상품관리</th>
                                                        <td>
                                                            <select id="areaGoodsCMC" name="areaGoodsCMC" class="text_input" size="5" multiple max="0" style="width:100%" ondblclick="openGoods(this)"></select>

                                                            <div class="over_h mgt5">
                                                                <div class="fl">
                                                                    <button class="btn btn-sm btn-default" onclick="moveGoods('areaGoodsCMC', 'UP');">▲</button>
                                                                    <button class="btn btn-sm btn-default" onclick="moveGoods('areaGoodsCMC', 'DOWN');">▼</button>
                                                                    <button class="btn btn-sm btn-danger" onclick="delGoods('areaGoodsCMC');">삭제</button>
                                                                </div>
                                                                <div class="fr">
                                                                    <button class="btn btn-sm btn-secondary" onclick="openSelectGoods('areaGoodsCMC');">상품선택</button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="btn_center">
                                            <button type="button" class="btn btn-info">확인</button>
                                            <button type="button" class="btn btn-danger">삭제</button>
                                        </div>

                                    </div>

                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <%- include('../inc/footer') %>
                    <script src="/js/bootstrap-treeview.js"></script>
                    <script type="text/javascript">
                        var json = [{
                            "text": "뷰티",
                            "nodes": [{
                                "text": "화장품/향수",
                                "nodes": [{
                                    "text": "스킨케어",
                                    "nodes": [{
                                        "text": "스킨/로션",
                                        "nodes": [{
                                            "text": "스킨/토너",
                                            "text": "로션/에멀전",
                                            "text": "미스트",
                                            "text": "스킨케어세트"
                                        }]
                                    }, {
                                        "text": "에센스/앰플",
                                        "nodes": [{
                                            "text": "에센스",
                                            "text": "앰플",
                                            "text": "세럼",
                                            "text": "페이스 오일"
                                        }]
                                    }, {
                                        "text": "크림",
                                        "nodes": [{
                                            "text": "수분크림",
                                            "text": "안티에이징크림",
                                            "text": "화이트닝크림",
                                            "text": "아이크림",
                                            "text": "나이트크림",
                                        }]
                                    }]
                                }, {
                                    "text": "썬케어/메이크업",
                                    "nodes": [{
                                        "text": "베이크메이크업",
                                        "nodes": [{
                                            "text": "파운데이션",
                                            "text": "BB/CC크림",
                                            "text": "메이크업베이스",
                                            "text": "컨실러",
                                            "text": "프라이머"
                                        }]
                                    }, {
                                        "text": "에어쿠션/팩트",
                                        "nodes": [{
                                            "text": "에어쿠션",
                                            "text": "루스/팩트파우더"
                                        }]
                                    }, {
                                        "text": "아이메이크업",
                                        "nodes": [{
                                            "text": "아이라이너",
                                            "text": "마스카라",
                                            "text": "아이새도우",
                                            "text": "아이브로우",
                                            "text": "아이메이크업세트",
                                        }]
                                    }]
                                }, ]
                            }]
                        }]
                        var $tree = $('#tree').treeview({
                            data: json
                        });
                        // Expand/collapse all
                        $('#btn-expand-all').on('click', function(e) {
                            var levels = $('#select-expand-all-levels').val();
                            $tree.treeview('expandAll', {
                                levels: levels,
                                silent: $('#chk-expand-silent').is(':checked')
                            });
                        });
                        $('#btn-collapse-all').on('click', function(e) {
                            $tree.treeview('collapseAll', {
                                silent: $('#chk-expand-silent').is(':checked')
                            });
                        });
                    </script>

                    <script src="/js/summernote.js"></script>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('.summernote').summernote({
                                height: 300,
                                tabsize: 2,
                                disableDragAndDrop: true
                            });
                        });
                    </script>

                    <script src="/js/Sortable.min.js"></script>
                    <script>
                        Sortable.create(bannerList, {
                            animation: 150,
                            fallbackTolerance: 21
                        });
                    </script>

                    </body>

                    </html>