<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>
                    <%= title %>
                </h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>상품관리</li>
                    <li class="on">
                        <%= title %>
                    </li>
                </ul>
                <ul class="helpbox">
                    <li>가격과 상품이미지 설정하여 상품등록합니다.</li>
                    <li><strong class="red">*</strong>로 설정된 부분은 필수 입력하셔야 합니다.</li>
                    <li>시중가를 적으면 세일이 적용됩니다. (필요할 경우에만 입력하세요.)</li>
                </ul>

                <form name="Frm">
                    <div class="box">
                        <table summary="상품기본정보 등록 폼 입니다." class="t_form">
                            <caption>상품기본정보 등록 폼</caption>
                            <colgroup>
                                <col width="250">
                                <col width="*">
                                <col width="250">
                                <col width="*">
                            </colgroup>
                            <tbody>

                                <!-- 상품분류(카테고리) -->
                                <tr>
                                    <th rowspan="2">상품분류(카테고리) <strong class="red">*</strong></th>
                                    <td colspan="3">
                                        <select id="categoryId1st" name="categoryId1st" class="text_input" style="width: 230px;" onchange="changeCate(this)">
                                            <option value="">선택</option>                                                                                                              
                                        </select>
                                        <select id="categoryId2nd" name="categoryId2nd" class="text_input" style="width: 230px;" onchange="changeCate(this)">
                                            <option value="">선택</option>
                                        </select>
                                        <select id="categoryId3rd" name="categoryId3rd" class="text_input" style="width: 230px;" onchange="changeCate(this)">
                                            <option value="">선택</option>
                                        </select>
                                        <select id="categoryId4th" name="categoryId4th" class="text_input" style="width: 230px;" onchange="changeCate(this)">
                                            <option value="">선택</option>
                                        </select>
                                        <select id="categoryId5th" name="categoryId5th" class="text_input" style="width: 230px;" onchange="changeCate(this)">
                                            <option value="">선택</option>
                                        </select>
                                        <button type="button" class="btn btn-sm btn-secondary" onclick="addCate()">추가</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="category">
                                        <table id="tb_category" summary="상품 분류 목록 입니다.">
                                            <caption>상품 분류 목록</caption>
                                            <colgroup>
                                                <col width="100">
                                                <col width="*">
                                                <col width="100">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>기본</th>
                                                    <th>분류</th>
                                                    <th>삭제</th>
                                                </tr>
                                            </thead>
                                            <!-- <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="radio" name="cateDefault">
                                                    </td>
                                                    <td class="txt">의류11 〉상의 〉 블라우스 [50%]</td>
                                                    <td><button type="button" class="btn btn-sm btn-danger" onclick="delCate(this)">삭제</button></td>
                                                </tr>
                                            </tbody> -->
                                        </table>
                                        <dl class="explain blue">
                                            <dt><strong>※ 다중 분류로 선택할 경우</strong></dt>
                                            <dd>기본으로 선택된 분류가 해당 상품의 대표 분류입니다. 검색 결과에서는 기본 분류를 기준으로 출력됩니다.</dd>
                                            <dd>각각 다른상품으로 인식되기 때문에 상품 목록에 해당 상품이 중복 노출될 수 있습니다.</dd>
                                            <dd class="red">다중 카테고리 선택 후 수수료율을 다르게 추가 할 경우 기본 카테고리 수수료율로 설정됩니다.</dd>
                                        </dl>
                                    </td>
                                </tr>


                                <!-- 상품명 -->
                                <tr>
                                    <th>상품명 <strong class="red">*</strong></th>
                                    <td colspan="3">
                                        <input type="text" name="name" class="text_input" style="width:99%" value="" maxlength="100">
                                    </td>
                                </tr>
                                <tr>
                                    <th>간략한 설명</th>
                                    <td colspan="3">
                                        <input type="text" name="briefComment" class="text_input" style="width:99%" value="" maxlength="100">
                                    </td>
                                </tr>
                                <tr>
                                    <th>브랜드</th>
                                    <td colspan="3">
                                        <select id="brandSysId" name="brandSysId" class="text_input"></select>
                                    </td>
                                </tr>


                                <!-- 상품아이콘 -->
                                <tr>
                                    <th>상품 아이콘
                                        <button type="button" class="btn btn-sm btn-info" onclick="openIcon()">아이콘 관리</button>
                                    </th>
                                    <td colspan="3" class="icons">
                                        <ul>
                                            <li>
                                                <input type="checkbox" id="cb_icon_1" name="iconURL" value="1">
                                                <div><label for="cb_icon_1"><img id="icon_1" src="/img/ico_pro_sale.gif" ></label></div>
                                            </li>
                                            <!-- <li><input type="checkbox" id="cb_icon_2" name="icon" value="2">
                                                <div><label for="cb_icon_2"><img id="icon_2" src="/img/ico_pro_best.gif"></label></div>
                                            </li>
                                            <li><input type="checkbox" id="cb_icon_3" name="icon" value="3">
                                                <div><label for="cb_icon_3"><img id="icon_3" src="/img/ico_pro_good.gif" ></label></div>
                                            </li>
                                            <li><input type="checkbox" id="cb_icon_4" name="icon" value="4">
                                                <div><label for="cb_icon_4"><img id="icon_4" src="/img/ico_pro_free.gif"></label></div>
                                            </li> -->
                                        </ul>

                                    </td>
                                </tr>

                                <!-- 상품 이미지 : 시작 -->
                                <tr>
                                    <th>큰이미지 <strong class="red">*</strong></th>
                                    <td colspan="3">
                                        <label for="bigImage" class="btn btn-sm btn-secondary">이미지 찾기</label>
                                        <input type="file" name="bigImage" id="bigImage" class="hidden">
                                        <input type="text" id="bigImageURL" class="fileuploadurl" name="bigImageURL" placeholder="선택된 파일이 없습니다" readonly>

                                        <span class="light_gray">(500px * 500px)</span>
                                        <label for="img_auto">
                                            <input type="checkbox" id="img_auto" name="isImgAuto" value="T" onclick="changeImgRegAuto(this)" checked>
                                        자동등록</label>

                                        <dl class="explain blue mgt5">
                                            <dt><strong>※ 자동등록이란?</strong></dt>
                                            <dd>큰이미지만 올리시면 사이트 정보에서 지정해 놓은 사이즈로 중간이미지, 작은이미지가 자동 생성되어 저장됩니다.</dd>
                                            <dd>각각 올리기를 원하실 경우 자동등록의 체크를 해제하시면 됩니다.</dd>
                                        </dl>
                                    </td>
                                </tr>

                                <tr class="imgManuals" style="display:none">
                                    <th>중간이미지 <strong class="red">*</strong></th>
                                    <td colspan="3">
                                        <label for="midImage" class="btn btn-sm btn-secondary">이미지 찾기</label>
                                        <input type="file" name="midImage" id="midImage" class="hidden">
                                        <input type="text" id="midImageURL" class="fileuploadurl" name="midImageURL" placeholder="선택된 파일이 없습니다" readonly>
                                        <span class="light_gray">(500px * 500px)</span>
                                    </td>
                                </tr>

                                <tr class="imgManuals" style="display:none">
                                    <th>작은이미지 <strong class="red">*</strong></th>
                                    <td colspan="3">
                                        <label for="smallImage" class="btn btn-sm btn-secondary">이미지 찾기</label>
                                        <input type="file" name="smallImage" id="smallImage" class="hidden">
                                        <input type="text" id="smallImageURL" class="fileuploadurl" name="smallImageURL" placeholder="선택된 파일이 없습니다" readonly>
                                        <span class="light_gray">(250px * 250px)</span>
                                    </td>
                                </tr>

                                <tr>
                                    <th>다른이미지</th>
                                    <td colspan="3" class="img_etc">
                                        <div class="tr mgt5">
                                            <button type="button" class="btn btn-sm btn-secondary">이미지 추가</button>
                                            <button type="button" class="btn btn-sm btn-danger">이미지 삭제</button>
                                        </div>
                                        <table id="tb_img_etc" width="100%" summary="다른 이미지 목록입니다." max="10" noblank="1">
                                            <caption>다른 이미지 목록</caption>
                                            <colgroup>
                                                <col width="25">
                                                <col width="20">
                                                <col width="*">

                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <td><span class="numbering">1</span>.</td>
                                                    <td><input type="checkbox" name="isUsedOptionalImage1"></td>
                                                    <td>
                                                        <label for="optionalImage1" class="btn btn-sm btn-secondary">이미지 찾기</label>
                                                        <input type="file" name="optionalImage1" id="optionalImage1" class="hidden">
                                                        <input type="text" class="fileuploadurl" id="optionalImage1URL" name="optionalImage1URL" placeholder="선택된 파일이 없습니다" readonly>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><span class="numbering">2</span>.</td>
                                                    <td><input type="checkbox" name="isUsedOptionalImage2"></td>
                                                    <td>
                                                        <label for="optionalImage2" class="btn btn-sm btn-secondary">이미지 찾기</label>
                                                        <input type="file" name="optionalImage2" id="optionalImage2" class="hidden">
                                                        <input type="text" class="fileuploadurl" id="optionalImage2URL" name="optionalImage2URL" placeholder="선택된 파일이 없습니다" readonly>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><span class="numbering">3</span>.</td>
                                                    <td><input type="checkbox" name="isUsedOptionalImage3"></td>
                                                    <td>
                                                        <label for="optionalImage3" class="btn btn-sm btn-secondary">이미지 찾기</label>
                                                        <input type="file" name="optionalImage3" id="optionalImage3" class="hidden">
                                                        <input type="text" class="fileuploadurl" id="optionalImage3URL" name="optionalImage3URL" placeholder="선택된 파일이 없습니다" readonly>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- 상품 이미지 : 끝 -->

                                <!-- 재고설정/진열설정 -->
                                <tr>
                                    <th>재고설정</th>
                                    <td>
                                        <!-- 무제한 -->
                                        <span>
                                            <input type="radio" id="stockTypeCode1" name="stockTypeCode" value="1" onclick="checkStock()" checked>
                                            <label for="stockTypeCode1">무제한</label>
                                        </span>

                                        <!-- 수량설정 -->
                                        <span class="mgl20">
                                            <input type="radio" id="stockTypeCode2" name="stockTypeCode" value="2" onclick="checkStock()">
                                            <label for="stockTypeCode2">수량</label>
                                        </span>
                                        <span>
                                            <input type="text" name="stockQty"  maxlength="7" class="text_input" style="width: 60px; "  disabled> 
                                        </span>

                                        <!-- 품절여부 -->
                                        <span class="mgl20">
                                            <input type="checkbox" id="isSoldout" name="isSoldout">
                                            <label for="isSoldout" class="red">일시품절</label>
                                        </span>
                                    </td>
                                    <th>진열설정</th>
                                    <td>
                                        <input type="radio" id="isDisplay_T" name="isDisplay" value="T" checked><label for="isDisplay_T">진열</label>&nbsp;
                                        <input type="radio" id="isDisplay_F" name="isDisplay" value="F" class="mgl20"><label for="isDisplay_F">미진열</label>
                                    </td>
                                </tr>

                                <!-- 시중가격 / 부가가치세설정 -->
                                <tr>
                                    <th>시중가격</th>
                                    <td>
                                        <input type="text" name="marketPrice" class="text_input" /> 원
                                    </td>
                                    <th>부가가치세 설정</th>
                                    <td>
                                        <input type="radio" id="isVat_T" name="isVat" value="T" checked><label for="isVat_T">과세상품</label>
                                        <input type="radio" id="isVat_F" name="isVat" value="F" class="mgl20"><label for="isVat_F">면세상품</label>
                                    </td>
                                </tr>

                                <!-- 수수료설정 -->
                                <tr>
                                    <th>수수료 설정 <strong class="red">*</strong></th>
                                    <td colspan="3">

                                        <input type="radio" id="feeTypeCode1" name="feeTypeCode" value="1" checked onclick="checkCmsType()">
                                        <label for="feeTypeCode1" class="pad_right10">기본 수수료설정 (입점업체 또는 카테고리)</label>

                                        <input type="radio" id="feeTypeCode2" name="feeTypeCode" value="2" class="mgl20" onclick="checkCmsType()">
                                        <label for="feeTypeCode2">개별 수수료 설정(상품별)</label>
                                    </td>
                                </tr>


                                <!-- 가격 -->
                                <tr>
                                    <th>가격 <strong class="red">*</strong></th>
                                    <td colspan="3" class="price">
                                        <div>
                                            <input type="radio" id="priceTypeCode1" name="priceTypeCode" value="1" onclick="checkPriceSplit(this.value)" checked>
                                            <label for="priceTypeCode1">공급가기준<span>(수수료 자동입력)</span>
                                            </label><br>
                                            <input type="radio" id="priceTypeCode2" name="priceTypeCode" value="2" onclick="checkPriceSplit(this.value)">
                                            <label for="priceTypeCode2">수수료기준<span>(공급가 자동입력)</span>
                                            </label>
                                        </div>
                                        <hr/>
                                        <ul class="mgt10">
                                            <li>판매가<br><input type="text" name="price" class="text_input" style="width:130px" autocomplete="off"> 원</li>
                                            <li>수수료율<br><input type="text" name="feeRate" maxlength="5" class="text_input" style="width:80px; background-color:#e0e0e0;" readonly autocomplete="off"> %</li>
                                            <li>공급가<br><input type="text" name="supplyPrice" class="text_input" style="width:130px; " autocomplete="off"> 원</li>
                                        </ul>
                                    </td>
                                </tr>

                                <!-- 적립금 -->
                                <tr>
                                    <th>적립금</th>
                                    <td colspan="3" class="cmoney">
                                        <ul>
                                            <li>
                                                <input type="radio" id="pointTypeCode3" name="pointTypeCode" value="3" onclick="checkCmoneyPolicy()" disabled>
                                                <label for="pointTypeCode3">판매자 정책</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="pointTypeCode2" name="pointTypeCode" value="2" onclick="checkCmoneyPolicy()" checked>
                                                <label for="pointTypeCode2">기본 정책</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="pointTypeCode1" name="pointTypeCode" value="1" onclick="checkCmoneyPolicy()">
                                                <label for="pointTypeCode1">적립금 지급 안함</label>
                                            </li>
                                        </ul>
                                        <ul class="goods">
                                            <li>
                                                <input type="radio" id="pointTypeCode4" name="pointTypeCode" value="4" onclick="checkCmoneyPolicy()">
                                                <label for="pointTypeCode4">
                                                    <select name="pointTypeCode" class="text_input" style="width: 150px;"  disabled>
                                                        <option value="4">판매가</option>
                                                        <option value="5">결제가</option>
                                                    </select> 의
                                                    <input type="text" name="pointRate" maxlength="5" class="text_input" style="width:70px" disabled> % 지급
                                                </label>
                                            </li>
                                            <li>
                                                <input type="radio" id="pointTypeCode6" name="pointTypeCode" value="6" onclick="checkCmoneyPolicy()">
                                                <label for="pointTypeCode6">구매 상품(개수) 당
                                                    <input type="text" name="point"  class="text_input" style="width:70px" onkeyup="toCurrency(this)"  disabled> 원 지급
                                                </label>
                                            </li>
                                        </ul>

                                        <dl class="explain blue " style="clear:both">
                                            <dt><strong>※ 적립금 부담</strong></dt>
                                            <dd>"<strong>기본 정책</strong>" 이외 설정으로 적립금 지급시, 적립금 설정과 관계없이 <strong>판매자에게 부담</strong>됩니다.</dd>
                                        </dl>
                                    </td>
                                </tr>

                                <!-- 제조사/원산지 -->
                                <tr>
                                    <th>제조사</th>
                                    <td>
                                        <input type="text" name="manufacturer" class="text_input" style="width:97%" maxlength="50">
                                    </td>
                                    <th>원산지</th>
                                    <td>
                                        <input type="text" name="origion" class="text_input" style="width:97%" maxlength="50">
                                    </td>
                                </tr>

                                <!-- 상품정보고시 -->
                                <tr>
                                    <th colspan="4">상품정보고시 <strong class="red">*</strong></th>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <dl class="explain fl">
                                            <dt><a href="http://www.ftc.go.kr/www/FtcRelLawUList.do?key=290&law_div_cd=07" target="blank"><strong class="red">※ 공정거래 위원회에서 공고한 전자상거래법 상품정보제공 고시에 관한 내용을 필독해 주세요!</strong></a></dt>
                                            <dd>전자상거래법에 의거하여 판매상품의 필수(상세)정보 등록이 필요합니다.</dd>
                                            <dd>등록된 정보는 쇼핑몰 상품상세페이지에 상품기본정보 아래에 표형태로 출력되어 보여집니다.</dd>
                                        </dl>
                                        <span class="fr"><a class="btn btn-primary" href="http://www.mallstore.co.kr/data/base/DownLoad/information/commodity_guide.zip">품목별 상품고시</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="notify">
                                        <select id="notify" name="productNotice" class="text_input" onchange="getNotify(this)">
                                            <option value="">등록할 상품의 상품군을 선택하세요</option> 
                                            <option value="2">의류</option>
                                            <option value="3">전자제품</option>
                                            <option value="5">테스트</option>         
                                        </select>

                                        <div class="fr">
                                            <button class="btn btn-sm btn-secondary" onclick="addRow('tb_notify');">상품 추가</button>
                                            <button class="btn btn-sm btn-danger" onclick="delRowList('tb_notify');">상품 삭제</button>
                                        </div>

                                        <table id="tb_notify" width="100%" summary="상품정보고시 목록 입니다.">
                                            <caption>상품정보고시 목록</caption>
                                            <colgroup>
                                                <col width="20">
                                                <col width="20">
                                                <col width="100">
                                                <col width="*">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th><input type="checkbox" name="cbNotifyAll"></th>
                                                    <th>항목</th>
                                                    <th class="last">내용</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><span class="numbering">1</span></td>
                                                    <td><input type="checkbox" name="cbNotify"></td>
                                                    <td>
                                                        <input type="text" name="item" class="text_input" style="width: 90%;" maxlength="100">
                                                    </td>
                                                    <td class="last">
                                                        <textarea name="content" rows="2" class="text_input"></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <!-- 상품상세설명 -->
                                <tr>
                                    <th>상품설명 <strong class="red">*</strong></th>
                                    <td colspan="3">
                                        <div class="summernote"></div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <div class="box">
                        <!-- 배송 옵션 -->
                        <div class="section_head">
                            <h4><i class="xi-check-circle"></i> 배송비 옵션 <em>(선택하지 않을시 기본설정에 따릅니다.)</em></h4>
                        </div>
                        <table summary="배송비옵션 등록 폼 입니다." class="t_form">
                            <caption>배송비옵션 등록 폼</caption>
                            <tbody>
                                <tr>
                                    <th>배송비 구분</th>
                                    <td>
                                        <dl class="delivery_method">
                                            <dt>
                                                <input type="radio" id="deliveryPriceTypeCode1" name="deliveryPriceTypeCode" value="1" onclick="checkDeliveryMethod()">
                                                <label for="deliveryPriceTypeCode1">무료배송</label>
                                            </dt>
                                            <dd>해당상품을 무료배송합니다.</dd>


                                            <dt>
                                                <input type="radio" id="deliveryPriceTypeCode3" name="deliveryPriceTypeCode" value="2" onclick="checkDeliveryMethod()">
                                                <label for="deliveryPriceTypeCode3">착불</label>
                                            </dt>
                                            <dd>
                                                <input type="text" name="debitAmountoptional" class="text_input" style="width: 70px; background-color: rgb(224, 224, 224);" maxlength="10" value="" onkeyup="toCurrency(this)" disabled> 원 (무료배송 :
                                                <input type="text" name="debitfreeMinAmountoptional" class="text_input" style="width: 70px; background-color: rgb(224, 224, 224);" maxlength="10" value="" onkeyup="toCurrency(this)" disabled> 원 이상 주문시 무료)
                                            </dd>



                                            <dt>
                                                <input type="radio" id="deliveryPriceTypeCode4" name="deliveryPriceTypeCode"  value="3"  onclick="checkDeliveryMethod()">
                                                <label for="deliveryPriceTypeCode4">선불</label>
                                            </dt>
                                            <dd>
                                                <input type="text" name="prepaymentAmountoptional" class="text_input" style="width: 70px; background-color: rgb(224, 224, 224);" maxlength="10" value="" onkeyup="toCurrency(this)" disabled> 원 (무료배송 :
                                                <input type="text" name="prepayfreeMinAmountoptional" class="text_input" style="width: 70px; background-color: rgb(224, 224, 224);" maxlength="10" value="" onkeyup="toCurrency(this)" disabled> 원 이상 주문시 무료)
                                            </dd>


                                            <dt>
                                                <input type="radio" id="deliveryPriceTypeCode4" name="deliveryPriceTypeCode"  value="4" onclick="checkDeliveryMethod()">
                                                <label for="deliveryPriceTypeCode4">판매자정책</label>
                                            </dt>
                                            <dd>판매자의 기본정책을 따릅니다.</dd>

                                            <dt>
                                                <input type="radio" id="deliveryPriceTypeCode5" name="deliveryPriceTypeCode"  value="5" checked onclick="checkDeliveryMethod()">
                                                <label for="deliveryPriceTypeCode5">기본정책</label>
                                            </dt>
                                            <dd>쇼핑몰의 기본정책을 따릅니다.</dd>


                                        </dl>

                                        <dl class="explain blue mgt5">
                                            <dt><strong>※ 착불, 선불 배송비</strong></dt>
                                            <dd>무료배송 기준금액을 "공백" 또는 "0"으로 입력할 경우 주문금액과 관계없이 무조건 배송비를 부과합니다.</dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">배송정책 (설정시 기본 배송정책보다 우선으로 표시 됩니다.)</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="summernote" name="deliveryCommentHTML"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <!-- 상품 옵션 -->
                    <div class="box">
                        <div class="section_head">
                            <h4><i class="xi-check-circle"></i> 상품옵션</h4>
                        </div>

                        <table summary="상품 옵션 등록 폼 입니다." class="t_form">
                            <caption>상품 옵션 등록 폼</caption>
                            <tbody>
                                <tr>
                                    <th>옵션구분</th>
                                    <td class="option_kind">
                                        <ul>
                                            <li>
                                                <input type="radio" id="option_kind_0" name="optionKind" value="0" onclick="checkOptionKind()" checked>
                                                <label for="option_kind_0">옵션없음</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="option_kind_1" name="optionKind" value="100" onclick="checkOptionKind()">
                                                <label for="option_kind_1">일반옵션</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="option_kind_4" name="optionKind" value="300" onclick="checkOptionKind()">
                                                <label for="option_kind_4">서술형옵션</label>
                                            </li>
                                        </ul>
                                        <ul class="option_explain blue mgt5">
                                            <li>상품 등록시 한가지 옵션만 선택이 가능하고, 등록 후 수정시에는 변경할 수 없습니다.<br>(단, "옵션없음" 상태에서 변경은 가능)</li>
                                        </ul>
                                    </td>
                                </tr>

                                <!-- # 일반옵션 ###################################################################### -->
                                <tr class="option_100" style="display:none">
                                    <td colspan="2">
                                        <ul class="option_explain">
                                            <li>재고를 설정할 수 없는 입력방식입니다. (옵션가격 설정가능)</li>
                                            <li>각 옵션항목은 " <strong>;</strong> "로 구분하여 입력하고, 옵션가격이 있는 경우 각 옵션항목내에서 " <strong>^</strong> "로 구분하여 입력합니다.<br>(옵션가격이 없는 경우 제외 가능)</li>
                                            <li><strong class="red">옵션가격은 반드시 ","(콤마) 없이 숫자로만 입력해야 합니다.</strong></li>
                                            <li>품절된 옵션항목은 각 옵션항목의 마지막에 구분자를 삽입하고 <strong class="red">"품절"</strong> 을 입력해 주세요. 예)옵션^0^품절</li>
                                            <li>옵션항목은 최대 <strong class="red">2,000자</strong> 까지 입력할 수 있습니다.</li>
                                        </ul>

                                        <dl class="option_exam mgt10">
                                            <dt><strong>입력 예)</strong></dt>
                                            <dd>
                                                1. 기본입력: 선택안함;옵션 A^1000;옵션 B^-1000^품절;옵션 C^2000<br> 2. 품절입력: 옵션 A^품절;옵션 B^1500^품절;옵션 C^1000<br> 3. 추가구성: 선택안함;A상품^10000;B상품^11000<br>
                                            </dd>
                                        </dl>

                                        <div class="tr mgb5">
                                            <button type="button" class="btn btn-sm btn-default" onclick="addRowOpt('100');" disabled>옵션 추가</button>
                                            <button type="button" class="btn btn-sm btn-danger" onclick="delRowOpt('100');" disabled>옵션 삭제</button>
                                        </div>
                                        <table id="tb_option_100" summary="상품 일반옵션 폼 테이블 입니다." class="option_gnenral">
                                            <caption>상품 일반옵션 폼 테이블</caption>
                                            <colgroup>
                                                <col width="20">
                                                <col width="50">
                                                <col width="*">
                                                <col width="10">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" name="cbOptAll100" onclick="checkCbAll(this.form.cbOpt100, this.checked)" disabled>
                                                    </th>
                                                    <th>옵션명</th>
                                                    <th colspan="2">옵션항목</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="hidden" name="optNo100" disabled><input type="checkbox" name="cbOpt100" disabled></td>
                                                    <td>
                                                        <input type="text" name="optName100" class="text_input" style="width: 90%;" maxlength="50" disabled>
                                                    </td>
                                                    <td class="txt">
                                                        <textarea rows="3" name="optItem100" class="text_input" disabled></textarea>
                                                    </td>
                                                    <td class="size"><span>0</span>자</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <!-- # 서술형옵션 ###################################################################### -->

                                <tr class="option_300" style="display:none">
                                    <td colspan="2">
                                        <ul class="option_explain">
                                            <li>일반옵션, 재고옵션을 사용하시기 어려운 경우, 서술형 옵션을 선택하시면 아래 입력한 내용이 구매자에게 안내되고,<br>상품구매옵션을 서술형으로 입력할 수 있습니다.</li>
                                        </ul>
                                        <dl class="option_exam mgt10">
                                            <dt><strong>입력 예)</strong></dt>
                                            <dd>
                                                넥타이타입은 A~J, 셔츠타입은 A~J, 사이즈는 95,100,105입니다. 원하는 색상 및 사이즈를 적어주세요.
                                            </dd>
                                        </dl>
                                        <div class="option_text">
                                            <textarea name="optName300" rows="3" class="text_input" onkeyup="checkTextLen(this, 250)" disabled></textarea>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <!-- 추가 구성 -->
                    <div class="box">
                        <div class="section_head">
                            <h4><i class="xi-check-circle"></i> 추가구성</h4>
                        </div>
                        <table summary="추가 구성 등록 폼 입니다." class="t_form">
                            <caption>추가구성 등록 폼</caption>
                            <tbody>
                                <tr>
                                    <th>추가구성</th>
                                    <td class="addition_usable">
                                        <ul>
                                            <li><input type="radio" id="use_addition_0" name="useAddition" value="0" onclick="checkUseAddition()" checked><label for="use_addition_0">미사용</label></li>
                                            <li><input type="radio" id="use_addition_1" name="useAddition" value="1" onclick="checkUseAddition()"><label for="use_addition_1">사용</label></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="addition_container" style="display:none">
                                    <td colspan="2">
                                        <ul class="over_h mgb10">
                                            <li class="fl"><button type="button" class="btn btn-sm btn-secondary" onclick="cbAdtAll()">전체선택</button>
                                            </li>
                                            <li class="fr">
                                                <button type="button" class="btn btn-sm btn-default" onclick="addAddition()">추가구성 추가</button>
                                                <button type="button" class="btn btn-sm btn-danger" onclick="delAddition()">추가구성 삭제</button>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn_center">
                        <button type="button" class="btn btn-secondary" onclick="validSubmit()">확인</button>
                        <button type="button" class="btn btn-danger" onclick="cancle('reload')">취소</button>
                    </div>
                </form>


                <%- include('../inc/footer') %>
                    <script src="/js/goods/goods_reg.js"></script>

                    </body>

                    </html>